.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}
.App-logo2 {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; 
  pointer-events: none;
}

.body_type{
  
  margin:10px;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


.post-btn{
  box-shadow: 0 0 0 0 rgb(182, 214, 240);
  margin: 5px; 
  padding: 1px;
  width: 100px;
  height: 40px;
  display:flex;
  justify-content:space-between;
cursor:pointer;
-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.post-btn:hover{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  text-decoration: none;
}
/*box-shadow: 0 5px 45px 0 rgba(89, 109, 121, 0.2);*/

.post-btn-link:hover{
  text-decoration: none;
}
.post-title{
  margin-bottom:2rem;
  color:gray;
  text-align:center
}

h2{
  text-align:center
}

.item-container{
  margin-top:3rem;
  width:30%;
  height:300px;
  background:white;
    
}
.actions{
  display:flex;
  width:100%;
  margin-left: 5px;
}

.containers{
  margin-top:3rem;
  width:100%;
  display:flex;
  flex-wrap: wrap;
list-style-type: none
}
.item-img-container{
  margin-top:10px;
  width:90%;
  margin-left:auto;
  margin-right:auto; 
}
.item-img{
  margin-left:auto;
  margin-right:auto;  
  width:100%;
  height:150px;
}
.item-container{
  margin:18px;
  width:30%;
  height:250px;
  margin-left:auto;
margin-right:auto;
  background:whitesmoke;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link:hover{
  text-decoration: none;
}

.slides{
  width:90%;
  display:flex;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3rem;
  margin-top:1.5rem;
}

.slider{
  width: 25%;
  color:white;
  height:500px;
  background:whitesmoke;
  padding:3px;
  margin:8px;
  margin-left:auto;
  margin-right:auto;
}
#slide-img{
  width:100%;
    height:100%;
    overflow:hidden;
}

#slide-center{
  width: 50%;
  height:500px;

  padding:3px;
  margin:8px;   
  margin-left:auto;
  margin-right:auto;
}
.post-btn-text:hover{
text-decoration: none;
}

footer{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  background:#F7F8F9;
  height:350px;
  color:#442563;
  font-size:14px;
 
  margin-top:10rem;
  background-repeat:no-repeat;
}

.social{
  width:30px;
  height:25px;
   padding:3px;
}



#hello:hover{
  text-decoration: none;
}

.dashboard-btn{

    margin: 5px;
    padding: 1px;
    width: 100px;
    height: 40px;
  
}

.footer-business{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  background:#F7F8F9;
  height:350px;
  color:#442563;
  font-size:14px;
  margin-top:-4rem;
  position:relative;
  background-repeat:no-repeat;
}
.footer-div{
  margin-top:2rem;
  width:20%; 
  margin-left:60px;
  margin-right:auto;
}
.footer-text{
  color:#442563;
}